/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/bootswatch/dist/lumen/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';

.tab-panel {
    border: 1px solid gray;
    padding: 10px;
    border-radius: 4px;
}

.nav-tabs > li.open, .user-tabset > .nav-tabs > li:hover {
    border-bottom: 4px solid purple;
}

.user-tabset > .tab-content {
    margin-top: -3px;
    padding: 15px 0;
}

.ngx-gallery { display: inline-block; margin-bottom: 20px; }