<form [formGroup]="registerForm" (ngSubmit)="register()">
  <h2 class="text-center text-primary">Zapisz się</h2>
  <hr>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Nazwa użytkownika" formControlName="username" 
    [ngClass]="{ 'is-invalid': registerForm.get('username').errors && registerForm.get('username').touched}">
    <div class="invalid-feedback">Podaj nazwę użytkownika</div>
  </div>

  <div class="form-group">
    <input type="password" class="form-control" placeholder="Hasło" formControlName="password"
    [ngClass]="{ 'is-invalid': registerForm.get('password').errors && registerForm.get('password').touched}">
    <div class="invalid-feedback">Hasło musi się składać z min. 6 znaków oraz z max. 12 znaków</div>
  </div>

  <div class="form-group">
    <input type="password" class="form-control" placeholder="Potwierdź hasło" formControlName="confirmPassword"
    [ngClass]="{ 'is-invalid': registerForm.get('confirmPassword').errors && registerForm.get('confirmPassword').touched
      || registerForm.get('confirmPassword').touched && registerForm.hasError('mismatch')}">
    <div class="invalid-feedback">Hasła muszą być identyczne</div>
  </div>

  <div class="form-group">
    <label class="control-label" style="margin-right: 10px;">Płeć: </label>
    <label class="radio-inline">
      <input class="mr-1" type="radio" value="mężczyzna" formControlName="gender" checked>Mężczyzna
    </label>
    <label class="radio-inline">
      <input class="mr-1" type="radio" value="kobieta" formControlName="gender">Kobieta
    </label>
  </div>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="Data urodzenia" formControlName="dateOfBirth" bsDatepicker
    [ngClass]="{ 'is-invalid': registerForm.get('dateOfBirth').errors && registerForm.get('dateOfBirth').touched}">
    <div class="invalid-feedback">Podaj datę urodzenia</div>
  </div>

  <div class="form-group">
    <select class="form-control" formControlName="zodiacSign" [(ngModel)]="userParams.zodiacSign">
      <option *ngFor="let zodiacSign of zodiacSignList" [value]="zodiacSign.value">
        {{zodiacSign.display}}
      </option>
    </select>
  </div>

  <div class="form-group">
    <input class="form-control" placeholder="Miasto" formControlName="city" 
    [ngClass]="{ 'is-invalid': registerForm.get('city').errors && registerForm.get('city').touched}">
    <div class="invalid-feedback">Podaj miasto</div>
  </div>

  <div class="form-group">
    <input class="form-control" placeholder="Kraj" formControlName="country" 
    [ngClass]="{ 'is-invalid': registerForm.get('country').errors && registerForm.get('country').touched}">
    <div class="invalid-feedback">Podaj kraj</div>
  </div>

  <div class="form-group text-center">
    <button class="btn btn-success" type="submit" [disabled]="!registerForm.valid">Zarejestruj</button>
    <button class="btn btn-def" type="button" (click)="cancel()">Anuluj</button>
  </div>
</form>