.card {
    transform: scale(1.0, 1.0);
    transition-duration: 400ms;
    transition-timing-function: ease-in-out;
}

.card:hover {
    transform: scale(1.4, 1.4);
    transition-duration: 400ms;
    transition-timing-function: ease-in-out;
    z-index: 100;
}

.card-img-wrapper {
    overflow: hidden;
    position: relative;
}

.user-icons{
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
    opacity: 0;
}

.card-img-wrapper:hover .user-icons {
    bottom: -10%;
    opacity: 1;
}

.animate {
    transition: all 0.4s ease-in-out;
}